<!--Data Entry form -->

<div style="margin: auto;" *ngIf="referenceOptions
  && learningActivitiesOptions && (indicatorOptions$ | async)">

    <div class="title">
        Add NEW Indicators and their Metrics
    </div>

    <div class="content-wrapper">
        <div class="form-wrapper">
            <fieldset>
                <legend>Indicator</legend>
                <form [formGroup]="indicatorForm" class="form-section">
                    <div class="form-element form-element-100">
                        <label>Learning Activities *</label>
                        <ng-multiselect-dropdown [(ngModel)]="selectedLearningActivities"
                                                 [ngModelOptions]="{standalone: true}"
                                                 placeholder="Learning Activities"
                                                 [settings]="dropdownSettings"
                                                 [data]="learningActivitiesOptions"
                                                 (onSelect)="learningActivityiesSelected()" (onDeSelect)="learningActivityiesSelected()"
                                                 (onSelectAll)="learningActivityiesSelected()" (onDeSelectAll)="learningActivityiesSelected()"
                                                 [disabled]="readonly('reference')"
                        >
                        </ng-multiselect-dropdown>
                        <div
                            *ngIf="indicatorForm.controls['learningActivities'].invalid && (indicatorForm.controls['learningActivities'].dirty || indicatorForm.controls['learningActivities'].touched)"
                            class="alert">
                                Learning Activity is required.
                        </div>
                    </div>
                    <div class="form-element form-element-100" *ngIf="showActivityMessages">
                        <div style="color: rgb(4, 117, 14); cursor: pointer" (click)="showActivityDialoge()"
                             [innerHTML]="'Indicators will be added to the corresponding Events, depending on the chosen Activities. For more information click here'"></div>
                    </div>
                    <div class="form-element form-element-85">
                        <label>Name *</label>
                        <input type="text" formControlName="indicatorName" placeholder="Indicator Name" required/>
                        <div
                            *ngIf="indicatorForm.controls['indicatorName'].invalid && (indicatorForm.controls['indicatorName'].dirty || indicatorForm.controls['indicatorName'].touched)"
                            class="alert">
                            Name is required.
                        </div>
                    </div>
                    <div class="form-element form-element-15">
                        <label>Number *</label>
                        <input type="text" formControlName="referenceNumber"/>
                    </div>
                    <div class="form-element form-element-100">
                        <label>Summary</label>
                        <textarea class="text" rows="7" type="text" formControlName="summary"
                                  placeholder="Short optional explanation of the indicator"></textarea>
                    </div>
                    <div class="form-element form-element-100">
                        <label>Metrics *</label>
                        <textarea class="text" rows="7" type="text" formControlName="metrics"
                                  placeholder="Metrics must be comma seperated" required></textarea>
                        <div
                            *ngIf="indicatorForm.controls['metrics'].invalid && (indicatorForm.controls['metrics'].dirty || indicatorForm.controls['metrics'].touched)"
                            class="alert">
                            Metrics are required.
                        </div>
                    </div>
                    <div class="form-section" *ngIf="superAdmin">
                        <input type="checkbox" formControlName="verified"/>
                        <label>Verified</label>
                    </div>
                </form>
            </fieldset>
            <fieldset>
                <legend>Reference</legend>
                <form [formGroup]="referenceForm" class="form-section last" style="height: 100%">
                    <div class="form-section">
                        <div class="form-element form-element-100">
                            <label>Text *</label>
                            <ng-container *ngIf="!useExistingReference">
                                <input type="text" formControlName="referenceText" placeholder="Reference Text"
                                       required/>
                            </ng-container>
                            <ng-container *ngIf="useExistingReference">
                                <ng-select placeholder="Reference" [readonly]="this.readonly('indicator') && !useExistingReference"
                                           (change)="onReferenceChange($event)">
                                    <ng-option *ngFor="let reference of referenceOptions" [value]="reference">
                                        {{reference.referenceNumber}} {{reference.referenceText}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>
                            <div
                                *ngIf="referenceForm.controls['referenceText'].invalid && (referenceForm.controls['referenceText'].dirty || referenceForm.controls['referenceText'].touched)"
                                class="alert">
                                Text is required.
                            </div>
                        </div>
                        <div class="form-element form-element-85">
                            <label>Link *</label>
                            <input type="text" formControlName="referenceLink" placeholder="Reference Link"/>
                            <div
                                *ngIf="referenceForm.controls['referenceLink'].invalid && (referenceForm.controls['referenceLink'].dirty || referenceForm.controls['referenceLink'].touched)"
                                class="alert">
                                Link is required.
                            </div>
                        </div>
                        <div class="form-element form-element-15">
                            <label>Number *</label>
                            <input type="text" formControlName="referenceNumber"/>
                        </div>
                        <div class="form-element form-element-50">
                            <label>Verified</label>
                            <ng-select formControlName="verified" placeholder="Verification">
                                <ng-option *ngFor="let verifiedOption of verifiedOptions" [value]="verifiedOption">
                                    {{verifiedOption}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-element form-element-50">
                            <label>Development</label>
                            <ng-select formControlName="development" placeholder="Development">
                                <ng-option *ngFor="let developmentOption of developmentOptions" [value]="developmentOption">
                                    {{developmentOption}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-section">
                        <input type="checkbox" formControlName="checkbox" (change)="checkboxReferenceClicked()"/>
                        <label>Use existing Reference</label>
                    </div>
                </form>
            </fieldset>

            <button type="submit" class="buttonLaTool save-button"
                    (click)='addData()'>Save
            </button>
        </div>
        <div style="min-width: 260px">
            <button
                style="padding: 6px 8px 6px 8px; float: right; margin-right: 8px; background-image: linear-gradient(45deg, #8e1e22 10%, #edcfcf 51%, #8e1e22 100%) !important; box-shadow: 2px 4px 5px 0 #ead8d8;"
                class="buttonLaTool" (click)='logout()'>Logout
            </button>
            <span style="float: right; margin-right: 16px; margin-top: 17px;" *ngIf="CUserName">
       Welcome, {{CUserName}}
      </span>
        </div>
    </div>

</div>

<ng-template #activityDialog let-messages>
    <h2 matDialogTitle>Events affected by Activity Choice</h2>
    <mat-dialog-content>
        <ul *ngFor="let message of activityMessages">
            <li>{{ message }}</li>
        </ul>
        <div>Therefore, the Indicator and Metrics you want to add will
        be added automatically under these events:
        </div>
        <div style="padding-bottom: 1em">{{showEvents()}}</div>
    </mat-dialog-content>
    <button mat-button mat-dialog-close>Close</button>
</ng-template>

<ng-template #normalUserSaveDialog>
    <h2 matDialogTitle>Indicator has been saved</h2>
    <mat-dialog-content>
        <div style="padding-bottom: 1em">The Indicator has been saved but has to be approved by an admin before being listed in the table.</div>
    </mat-dialog-content>
    <button mat-button mat-dialog-close (click)="restForms()">Close</button>
</ng-template>
