input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 0.5em 0 0;
}

.form-element {
    display: flex;
    padding-bottom: 1em;
    flex-direction: column;
    max-width: calc(590px - 1em);
}

.form-element-15 {
    width: 15%;
}

.form-element-25 {
    width: 25%;
}

.form-element-50 {
    width: 50%;
}

.form-element-75 {
    width: 75%;
}

.form-element-85 {
    width: 85%;
}

.form-element-100 {
    width: 100%
}

.content-wrapper {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & ng-select {
        width: calc(100% - 1em);
        margin-right: 1em;
        font-size: 16px;
    }

    & ng-multiselect-dropdown {
        width: calc(100% - 1em);
        margin-right: 1em;
        font-size: 16px;

        .dropdown-btn {
            width: 100% !important;
            padding-right: 0 !important;
            height: 26px;
        }
    }

    & label {
        font-weight: bold;
        font-size: 16px;
        width: 200px;
        padding-bottom: 0.5em;
    }

    & input:not([type="checkbox"]) {
        font-size: 16px;
        width: calc(100% - 1.5em);
        height: 30px;
    }

    & textarea {
        font-size: 16px;
        width: calc(100% - 1.4em);
        height: 67px;
    }
}

.select-input {
    width: calc(100% - 8px);
    height: 30px;
}

.title {
    text-align: center;
    font-weight: normal;
    margin: 1em;
    padding: 24px;
    background-color: #3F51B5;
    color: white;
}

.save-button {
    margin: 0.5em 0 0 0.15em
}

fieldset {
    width: calc(50% - 3em);
    border-radius: 4px;

    &:not(.last) {
        margin-right: 1em;
    }
}

.form-section {
    display: flex;
    flex-wrap: wrap;

    &.last {
        justify-content: space-between;
        flex-direction: column;
    }
}

.alert {
    color: red;
    font-size: small;
    margin: 0;
}

:host ::ng-deep{
    .dropdown-list {
        .item1 {
            overflow: hidden !important;
        }

        .item2 {
            position: relative;
        }
    }

    .selected-item {
        max-width: 25%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
        padding-right: 15px !important;
        position: relative;

        & a {
            position: absolute;
            right: 4px;
            bottom: 0px;
        }
    }
}

td {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    min-width: 3rem;
    max-width: 15rem;
}

mat-chip {
    height: auto;
}

.data-display {
    width: 100%;
    box-shadow: none;
    border: solid 1px;
}

.data-display-wrapper {
    width: calc(50% - 1.5rem);
    margin: 0.5rem;
}

.table-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.add-mat-chip {
    background-image: linear-gradient(45deg, green 10%, #b4cae6 51%, #3f51b5 100%);
    background-size: 300% auto;
    color: white;
}

.remove-mat-chip {
    background-image: linear-gradient(45deg, red 10%, #b4cae6 51%, #3f51b5 100%);
    background-size: 300% auto;
    color: white;
}

.indicator-mat-chip {
    background-image: linear-gradient(45deg, #3f51b5 10%, #b4cae6 51%, #3f51b5 100%);
    background-size: 300% auto;
    color: white;
}

i.fa-solid {
    font-size: 1.5rem;
    transition-duration: 0.05s;
}

i.fa-solid:hover {
    background-color: lightgrey;
    border-radius: 50%;
}
i.fa-solid:active {
    background-color: grey;
}